.add-memo{
    button{
        margin: 20px;
        position: fixed;
        right: 0;
        bottom: 0;
        height: 12vh;
        width: 6vw;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 80px;
        font-size: 16px;
        color: black;
        font-family: 'Fredoka One', cursive;
        border: transparent;

        transition: background-color 1s,width 1s;
    
        i{
            font-size: 20px;
            color: #6c2cb4;
        }
    }
    
    button:hover{
        width: 10vw;
        background-color: #6c2cb4;

        i{
            color: white;
        }
    }
    
    button span {
        max-width: 0;
        -webkit-transition: max-width 1s;
        transition: max-width 1s;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
    }
    
    button:hover span {
        color: white;
        max-width: 7rem;
    }
}